In [2]:
%pwd

'/Users/sebbyzhao/Research/RecSys/recsys'

In [25]:
import torch
import os
import pandas as pd
from numpy.linalg import svd
import numpy as np

In [4]:
DATA_DIR = '../data/ml-100k/'

In [14]:
rating_data = pd.read_csv(os.path.join(DATA_DIR, 'u.data'), sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])

In [15]:
rating_data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [18]:
rating_matrix = pd.pivot_table(rating_data, values='rating', index='user_id', columns='item_id', fill_value=0)

In [19]:
rating_matrix.head()

item_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5,3,4,3,3,5,4,1,5,3,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,4,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
u, s, vt = svd(rating_matrix, full_matrices=False)

In [30]:
u.shape, s.shape, vt.shape

((943, 943), (943,), (943, 1682))

In [34]:
# Difference between reconstructed matrix and original
u @ np.diag(s) @ vt - rating_matrix.values

array([[-1.77635684e-15,  5.77315973e-15,  8.88178420e-16, ...,
        -1.45012041e-16,  2.66063213e-16,  4.21104124e-16],
       [ 3.90798505e-14, -8.09741163e-13,  2.35089725e-14, ...,
         8.29197822e-16, -4.69242700e-16, -1.75207071e-15],
       [ 7.40553452e-15,  2.12330153e-15,  5.90517218e-14, ...,
         2.74086309e-16,  1.31665512e-15,  8.34401992e-16],
       ...,
       [ 1.06581410e-14,  6.18949336e-15,  5.12090370e-15, ...,
         4.78783679e-16,  5.37764278e-16,  2.26815094e-16],
       [ 6.46878384e-15, -2.19063049e-14, -1.56732266e-15, ...,
         5.45570533e-16,  3.68411898e-16, -7.87564458e-16],
       [ 2.76514922e-14, -1.50990331e-14, -1.05557924e-15, ...,
        -1.03866568e-15, -4.94179350e-16,  1.95590072e-16]])

In [37]:
# Implement cosine similarity to find top k recommendations for a user?

In [33]:
# Try out different matrix factorization approaches?